<ul class="nav nav-pills nav-fill bg-light mb-3" id="pills-tab" role="tablist">
  <li class="nav-item" role="presentation">
    <button
      class="nav-link active"
      id="pills-myquest-tab"
      data-bs-toggle="pill"
      data-bs-target="#pills-myquest"
      type="button"
      role="tab"
      aria-controls="pills-myquest"
      aria-selected="true"
    >
      マイクエスト
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button
      class="nav-link"
      id="pills-beopen-tab"
      data-bs-toggle="pill"
      data-bs-target="#pills-beopen"
      type="button"
      role="tab"
      aria-controls="pills-beopen"
      aria-selected="false"
    >
      Be Open
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button
      class="nav-link"
      id="pills-movefast-tab"
      data-bs-toggle="pill"
      data-bs-target="#pills-movefast"
      type="button"
      role="tab"
      aria-controls="pills-movefast"
      aria-selected="false"
    >
      Move Fast
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button
      class="nav-link"
      id="pills-givefirst-tab"
      data-bs-toggle="pill"
      data-bs-target="#pills-givefirst"
      type="button"
      role="tab"
      aria-controls="pills-givefirst"
      aria-selected="false"
    >
      Give First
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button
      class="nav-link"
      id="pills-geekout-tab"
      data-bs-toggle="pill"
      data-bs-target="#pills-geekout"
      type="button"
      role="tab"
      aria-controls="pills-geekout"
      aria-selected="false"
    >
      Geek Out
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button
      class="nav-link"
      id="pills-takeownership-tab"
      data-bs-toggle="pill"
      data-bs-target="#pills-takeownership"
      type="button"
      role="tab"
      aria-controls="pills-takeownership"
      aria-selected="false"
    >
      Take Ownership
    </button>
  </li>
</ul>
<div class="tab-content" id="pills-tabContent">
  <div
    class="tab-pane fade show active"
    id="pills-myquest"
    role="tabpanel"
    aria-labelledby="pills-myquest-tab"
  >
    <h1 class="white-text">マイクエストのTASK</h1>
  </div>
  <div
    class="tab-pane fade"
    id="pills-beopen"
    role="tabpanel"
    aria-labelledby="pills-beopen-tab"
  >
    <h1 class="white-text">Be OpenのTODO</h1>
  </div>
  <div
    class="tab-pane fade"
    id="pills-movefast"
    role="tabpanel"
    aria-labelledby="pills-movefast-tab"
  >
    <h1 class="white-text">Move FastのTODO</h1>
  </div>
  <div
    class="tab-pane fade"
    id="pills-givefirst"
    role="tabpanel"
    aria-labelledby="pills-givefirst-tab"
  >
    <h1 class="white-text">Give FirstのTODO</h1>
  </div>
  <div
    class="tab-pane fade"
    id="pills-geekout"
    role="tabpanel"
    aria-labelledby="pills-geekout-tab"
  >
    <h1 class="white-text">Geek OutのTODO</h1>
  </div>
  <div
    class="tab-pane fade"
    id="pills-takeownership"
    role="tabpanel"
    aria-labelledby="pills-takeownership-tab"
  >
    <h1 class="white-text">Take OwnershipのTODO</h1>
  </div>
</div>
