<div id="flash">
  <%= render "shared/flash" %>
</div>

<% if @task %>
  <%= render "tasks/form", task: @task %>
<% end %>

<% @user_tasks.each do |task| %>
  <%= render partial: task %>
<% end %>

<div class="d-grid gap-2">
  <%= link_to "みんなのクエストを見る", tasks_path, method: :get, class: "btn btn-secondary" %>
</div>
