<div class="input-group mb-3">
  <div class="input-group-text">
    <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input" <%= 'checked' if task.checked %>>
  </div>
  <input type="text" class="form-control" aria-label="Text input with checkbox" value="<%= task.content %>" readonly>
  <%= link_to "詳細", task, class: "btn btn-secondary" %>
</div>
