<div class="container px-4 py-5 my-5">
  <div class="text-center">

    <p style="color: white"><%= notice %></p>

    <h1 class="white-text">みんなのクエスト</h1>

    <%= turbo_frame_tag @task do %>

      <%= render "form", task: @task %>

      <% @tasks.each do |task| %>
        <%= render partial: task %>
      <% end %>

    <% end %>

  </div>
</div>
