<div class="container-fluid px-0 py-5 my-5">
  <div class="row mx-0">
    <div class="col px-4 text-center">

      <%= turbo_frame_tag @task do %>

        <div id="flash" class="mb-5">
          <%= render "shared/flash" %>
        </div>

        <h1 class="white-text">みんなのクエスト</h1>

        <%= render "form", task: @task %>

        <div id="tasks">
          <% @tasks.each do |task| %>
            <%= render partial: task %>
          <% end %>
        </div>

      <% end %>

    </div>
  </div>
</div>
