<div class="container-fluid px-0 py-5 my-5">
  <div class="row mx-0">
    <div class="col px-4 text-center">

      <h1 class="white-text">ベストクエスト</h1>

        <% @tasks.each_with_index do |task, index| %>
          <div class="mb-5">
            <div class="d-flex">
              <i class="bi bi-award-fill" style="color: #ffc107; font-size: 2em;"></i>
              <h1 class="white-text ml-2"><%= index + 1 %>位</h3>
            </div>
            <%= render partial: task %>
          </div>
        <% end %>

    </div>
  </div>
</div>
