<div class="container-fluid px-0 py-5 my-5">
  <div class="row mx-0">
    <div class="col px-4 text-center">

      <h1 class="white-text">ベストクエスト</h1>

        <% @tasks.each do |task| %>
          <%= render partial: task %>
        <% end %>

    </div>
  </div>
</div>
