<div class="container px-4 py-5 my-5">
  <div class="text-center">

    <p style="color: white"><%= notice %></p>

    <h1 class="white-text">クエスト詳細</h1>

    <%= render @task %>

    <div class="mt-4 d-flex justify-content-center">
      <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="クエストを投稿しました！応援してね✨" data-via="CREDO_QUEST" data-hashtags="CREDO_QUEST #RUNTEQ" data-related="" data-lang="ja" data-dnt="true" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>

    <% if @task.likes.any? %>
      <div class="d-flex align-items-center justify-content-center mt-3">
        <i class="bi bi-star-fill" style="color: #ffc107; font-size: 1.5rem;"></i>
        <% @task.likes.each do |like| %>
          <%= link_to user_path(like.user), target: "_blank" do %>
            <%= image_tag like.user.image, width: 30, height: 30, style: 'display: block; margin: auto; border-radius: 50%;' %>
          <% end %>
        <% end %>
      </div>
    <% end %>

  </div>
</div>
