<div class="container-fluid px-0 py-5 my-5">
  <div class="row mx-0">
    <div class="col px-4 text-center">

      <h1 class="white-text">仲間を探す</h1>

      <%# image_tag 'matrix.jpeg', width: "1080", height: "1080" %>

      <ul class="list-group">
        <% @users.each do |user| %>
          <li class="list-group-item">
            <%= link_to user do %>
              <img src="<%= user.image %>" width="50" height="50" style="display: block; margin: auto;">
              <%= user.name %>
            <% end %>
          </li>
        <% end %>
      </ul>

    </div>
  </div>
</div>

<div class="position-relative">
  <div class="position-absolute top-0 start-0">top-0 start-0</div>
  <div class="position-absolute top-10 start-10">top-10 start-10</div>
  <div class="position-absolute top-20 start-20">top-20 start-20</div>
  <div class="position-absolute top-30 start-30">top-30 start-30</div>
  <div class="position-absolute top-40 start-40">top-40 start-40</div>
  <div class="position-absolute top-50 start-50">top-50 start-50</div>
  <div class="position-absolute top-60 start-60">top-60 start-60</div>
  <div class="position-absolute top-70 start-70">top-70 start-70</div>
  <div class="position-absolute top-80 start-80">top-80 start-80</div>
  <div class="position-absolute top-90 start-90">top-90 start-90</div>
  <div class="position-absolute top-100 start-100">top-100 start-100</div>
</div>
