<turbo-frame id="special_thanks">
  <div class="px-4 py-5 my-5 text-center white-text">
    <h1 class="display-5 fw-bold">Thank you for "クエスト応募" !!</h1>
    <ul style="list-style:none; padding-left: 0;">
      <li>22期生　inoway</li>
      <li>34期生　ざーく</li>
      <li>34期生　ゆいた</li>
      <li>34期生　れなっち</li>
      <li>35期生　kosukein38</li>
      <li>36期生　Nuno</li>
      <li>37期生　くま</li>
      <li>38期生　りょーた</li>
      <li>40期生　ミツ</li>
      <li>41期生　アライ</li>
      <li>42期生　通りすがりのサメ</li>
      <li>42期生　奈良のsuper dog</li>
      <li>（...これからも募集、カイゼンしていきます！）</li>
      <br>
      <li><a href="https://runteq.jp/r/9_JVIuxH" class="white-text">卒業校　RUNTEQ</a></li>
    </ul>
    <h1 class="display-5 fw-bold">and YOU !!</h1>
    <br>
    <%= link_to "https://runteq.jp/r/9_JVIuxH" do %>
      <%= image_tag "friend_campain_banner.jpeg", width: "200", height: "200" %>
    <% end %>
  </div>
</turbo-frame>
