<div class="px-4 py-5 my-5 text-center white-text">
  <h1 class="display-5 fw-bold">Thank you for "クエスト応募" !!</h1>
  <ul style="list-style:none; padding-left: 0;">
    <li>22 inoway</li>
    <li>34 ざーく</li>
    <li>34 ゆいた</li>
    <li>34 れなっち</li>
    <li>35 kosukein38</li>
    <li>36 Nuno</li>
    <li>37 くま</li>
    <li>38 りょーた</li>
    <li>40 ミツ</li>
    <li>41 アライ</li>
    <li>42 通りすがりのサメ</li>
    <li>42 奈良のsuper dog</li>
    <li>（...まだ募集中です！）</li>
  </ul>
  <h1 class="display-5 fw-bold">and YOU !!</h1>
</div>
