<div class="container px-4 py-5 my-5">
  <div class="text-center white-text">
    <h1 class="display-5 fw-bold">CREDO QUESTとは</h1>
    <p class="lead">WEBエンジニアになるためのマインドが身につけられる</p>
    <p class="lead">同期・他期の受講生やスタッフに、どんな仲間がいるのかわかる</p>
    <p class="lead">応援したい仲間にNiceActive!を送れる</p>

    <div class="d-grid d-sm-flex justify-content-sm-center">
      <%= button_to "Twitterログイン", "/auth/twitter2", method: :post, data: { turbo: false }, class: "btn btn-primary" %>
      <%# <%= button_to "ゲストログイン", '#', method: :get, class: "btn btn-light" %>
    </div>
  </div>
</div>
