<h1>みんなのクエスト</h1>

<%= form_with(url: todos_path, method: "post", local: true) do %>
  <div class="form-group">
    <label for="content">内容</label>
    <input type="text" class="form-control" name="content" id="content" placeholder="Todo内容を入力してください">
  </div>
  <button type="submit" class="btn btn-primary">Todoを追加</button>
<% end %>

<h2>Todos一覧</h2>
<ul>
  <% if @todos %>
    <% @todos.each do |todo| %>
      <li><%= todo.content %></li>
    <% end %>
  <% else %>
    <li>まだTodosがありません。</li>
  <% end %>
</ul>
