<div class="list-group">
  <label class="list-group-item">
    1. <input class="form-check-input me-1" type="checkbox" value="">
      Twitterやtimesで、目標を投稿しよう！
  </label>
  <label class="list-group-item">
    2. <input class="form-check-input me-1" type="checkbox" value="">
      わからない所を、恥ずかしがらずにtimesに書こう！
  </label>
  <label class="list-group-item">
    3. <input class="form-check-input me-1" type="checkbox" value="">
      同期限定イベントに参加してみよう！
  </label>
  <label class="list-group-item">
    4. <input class="form-check-input me-1" type="checkbox" value="">
      全体懇親会に参加してみよう！
  </label>
  <label class="list-group-item">
    5. <input class="form-check-input me-1" type="checkbox" value="">
      他の受講生と、どんなエンジニアになりたいか喋ってみよう！
  </label>
  <label class="list-group-item">
    6. <input class="form-check-input me-1" type="checkbox" value="">
      本当に困っていることは、ヘルプを出せるようになろう！
  </label>
  <label class="list-group-item">
    7. <input class="form-check-input me-1" type="checkbox" value="">
      成功体験や失敗談からの学びを発信しよう！（Noteなど）
  </label>
  <label class="list-group-item">
    8. <input class="form-check-input me-1" type="checkbox" value="">
      他の受講生と、技術面談の練習をしよう！
  </label>
  <label class="list-group-item">
    9. <input class="form-check-input me-1" type="checkbox" value="">
      Ninth checkbox
  </label>
  <label class="list-group-item">
    10. <input class="form-check-input me-1" type="checkbox" value="">
      Tenth checkbox
  </label>
</div>
