<div class="list-group">
  <label class="list-group-item">
    1. <input class="form-check-input me-1" type="checkbox" value="">
      フォーマットを埋めて、質問の初投稿しよう！
  </label>
  <label class="list-group-item">
    2. <input class="form-check-input me-1" type="checkbox" value="">
      自分のtimesに学んだ知識を書いてみよう！
  </label>
  <label class="list-group-item">
    3. <input class="form-check-input me-1" type="checkbox" value="">
      技術ログを書いてみよう！（NotionやQiita等）
  </label>
  <label class="list-group-item">
    4. <input class="form-check-input me-1" type="checkbox" value="">
      rails newして、簡単な機能を3つ作ろう！（カリキュラム外）
  </label>
  <label class="list-group-item">
    5. <input class="form-check-input me-1" type="checkbox" value="">
      LT会で学んだことを発表しよう！
  </label>
  <label class="list-group-item">
    6. <input class="form-check-input me-1" type="checkbox" value="">
      新しい技術の記事や本を読んでみよう！
  </label>
  <label class="list-group-item">
    7. <input class="form-check-input me-1" type="checkbox" value="">
      Webアプリを技術ブログにまとめよう！
  </label>
  <label class="list-group-item">
    8. <input class="form-check-input me-1" type="checkbox" value="">
      他の受講生と、お互いのWebアプリコードレビューをしよう！
  </label>
  <label class="list-group-item">
    9. <input class="form-check-input me-1" type="checkbox" value="">
      Ninth checkbox
  </label>
  <label class="list-group-item">
    10. <input class="form-check-input me-1" type="checkbox" value="">
      Tenth checkbox
  </label>
</div>
