<div class="list-group">
  <label class="list-group-item">
    1. <input class="form-check-input me-1" type="checkbox" value="">
      他の受講生のtimesに、コメントorスタンプしよう！
  </label>
  <label class="list-group-item">
    2. <input class="form-check-input me-1" type="checkbox" value="">
      頑張っている人を、Mattermost「Nice Active !」投票しよう！
  </label>
  <label class="list-group-item">
    3. <input class="form-check-input me-1" type="checkbox" value="">
      他の受講生がわからない問題を、一緒に考えてみよう！
  </label>
  <label class="list-group-item">
    4. <input class="form-check-input me-1" type="checkbox" value="">
      Discord「救済部屋」のメッセージ欄から協力しよう！
  </label>
  <label class="list-group-item">
    5. <input class="form-check-input me-1" type="checkbox" value="">
      自分が後輩のわからないところを教えてみよう！
  </label>
  <label class="list-group-item">
    6. <input class="form-check-input me-1" type="checkbox" value="">
      他の受講生のWebアプリを触って、Twitterで感想をつぶやこう！
  </label>
  <label class="list-group-item">
    7. <input class="form-check-input me-1" type="checkbox" value="">
      就活・面談のふりかえりをtimesで発信しよう！
  </label>
  <label class="list-group-item">
    8. <input class="form-check-input me-1" type="checkbox" value="">
      Eighth checkbox
  </label>
  <label class="list-group-item">
    9. <input class="form-check-input me-1" type="checkbox" value="">
      Ninth checkbox
  </label>
  <label class="list-group-item">
    10. <input class="form-check-input me-1" type="checkbox" value="">
      Tenth checkbox
  </label>
</div>
