<div class="list-group">
  <label class="list-group-item">
    1. <input class="form-check-input me-1" type="checkbox" value="">
      同期のtimesをチェックしよう！
  </label>
  <label class="list-group-item">
    2. <input class="form-check-input me-1" type="checkbox" value="">
      すぐ返事しよう！（できない時はスタンプ）
  </label>
  <label class="list-group-item">
    3. <input class="form-check-input me-1" type="checkbox" value="">
      今日学んだことをtimesに書こう！
  </label>
  <label class="list-group-item">
    4. <input class="form-check-input me-1" type="checkbox" value="">
      紙やtimesに分からないことを書き出して、問題を分解しよう！
  </label>
  <label class="list-group-item">
    5. <input class="form-check-input me-1" type="checkbox" value="">
      バトランのアーカイブを観て、自分なりの目標を決めよう！
  </label>
  <label class="list-group-item">
    6. <input class="form-check-input me-1" type="checkbox" value="">
      どんなWebアプリを作ってみたいか、アイデア帳にメモしよう！
  </label>
  <label class="list-group-item">
    7. <input class="form-check-input me-1" type="checkbox" value="">
      Githubの草を、1週間毎日生やそう！
  </label>
  <label class="list-group-item">
    8. <input class="form-check-input me-1" type="checkbox" value="">
      Eighth checkbox
  </label>
  <label class="list-group-item">
    9. <input class="form-check-input me-1" type="checkbox" value="">
      Ninth checkbox
  </label>
  <label class="list-group-item">
    10. <input class="form-check-input me-1" type="checkbox" value="">
      Tenth checkbox
  </label>
</div>
