<div class="list-group">
  <label class="list-group-item">
    1. <input class="form-check-input me-1" type="checkbox" value="">
      イベントに参加してみよう！
  </label>
  <label class="list-group-item">
    2. <input class="form-check-input me-1" type="checkbox" value="">
      自分のモチベーションが上がるフックを見つけよう！
  </label>
  <label class="list-group-item">
    3. <input class="form-check-input me-1" type="checkbox" value="">
      今週の立てた目標を達成しよう！
  </label>
  <label class="list-group-item">
    4. <input class="form-check-input me-1" type="checkbox" value="">
      もくもく会を開催してみよう！
  </label>
  <label class="list-group-item">
    5. <input class="form-check-input me-1" type="checkbox" value="">
      LT会に登壇しよう！
  </label>
  <label class="list-group-item">
    6. <input class="form-check-input me-1" type="checkbox" value="">
      スクール外のエンジニアイベントに参加しよう！
  </label>
  <label class="list-group-item">
    7. <input class="form-check-input me-1" type="checkbox" value="">
      Seventh checkbox
  </label>
  <label class="list-group-item">
    8. <input class="form-check-input me-1" type="checkbox" value="">
      Eighth checkbox
  </label>
  <label class="list-group-item">
    9. <input class="form-check-input me-1" type="checkbox" value="">
      Ninth checkbox
  </label>
  <label class="list-group-item">
    10. <input class="form-check-input me-1" type="checkbox" value="">
      Tenth checkbox
  </label>
</div>
